# --- Fichiers Système & Environnement ---
.DS_Store
venv/
bot/venv/
bin/
obj/
__pycache__/
*.py[cod]

# --- Base de données & Logs ---
*.db
*.db-wal
*.db-shm
*.log
voitures.db

# --- SÉCURITÉ (Ce qui ne doit JAMAIS partir sur GitHub) ---

# 1. Configuration Go (Clés API Gemini/Discord)
config/config.go

# 2. Configuration Python (Token Discord)
bot/.env
.env

# 3. Données utilisateurs & Alertes (Vie privée)
bot/alerts.json
bot/users.db
bot/vips.json
bot/alerts.json


